################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
obj/
bin/

# Excel temporary
~$*.xls*
